{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env" : {
    "browser" : true,
    "node" : true
  },
  "extends" : [
    "aribnb"
  ],
  "plugins": [
    "import",
    "react-hooks"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "react/forbid-prop-types": "off"
  }
}
// npm i -D eslint eslint-plugin-import  eslint-plugin-react eslint-plugin-react-hooks